/*INDEX*/

.card {
    padding: 20px;
    margin: 5px;
    
}
.blogrow {
    
    background-color: rgb(255, 181, 181);
    border-radius: 60px;
    font-size: 60px;
    margin-top: 20px;
    
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-style: italic;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#bindex{
    background-image: url(BG4.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh;

}


/*LOGIN*/

#bindex2{
background-image: url(BG4.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh;
}

#log{
    border: 1px solid white;

    border-radius: 20px;
    height: 35%;
    width: 500px;
    margin: auto;
    margin-top: 20%;
    padding: 50px;
}

button{
    float: right;
}
h2{
    color: rgb(5, 5, 5);
    text-align: center;
}


/*REGISTER*/

#bindex3{
    background-image:url(BG4.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh;
}

#register{
    border: 1px solid rgb(255, 254, 254);
    
    border-radius: 20px;
    height: 30%;
    width: 500px;
    margin: auto;
    margin-top: 20%;
    padding: 50px;
}
button{
    float: right;
}
#chec{
    padding-right: 10px;
}
h2{
    color: rgb(5, 5, 5);
    text-align: center;
}


/*POST*/

#bindex4{
    background-image: url(BG5.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh;
}

h1{
    text-align: left;
    color: rgb(231, 226, 226);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    border: 1px solid rgb(87, 86, 86);
    border-radius: 20px;
    background-color: rgb(0, 0, 0);
    padding: 10px;

}
p{
    font-size: 30px;
    font-style: italic;
    color: rgb(247, 242, 242);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

li{
    font-size: 30px;
    font-style: italic;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}